.higherClassData {
         height: 446px;
         width: 369px;
         border: 1 px solid balck;
         box-shadow: 0px 5px 10px;
         background-color: whitesmoke;
         overflow: auto;
         padding: 10px;
         background-color: whitesmoke;
         margin-right: 10px;
         overflow-y: scroll;
}
