.higherData {
         height: 400px;
         width: 400px;
         border: 1 px solid balck;
         margin: 20px;
         box-shadow: 0px 5px 10px;
         background-color: whitesmoke;
         overflow: auto;
         background-color: whitesmoke;
}
