.reactData {
         height: 630px;
         width: 865px;
         border: 1px solid black;
         margin: 20px;
         padding: 5px;
         background-color: #faf3e0;
         border-radius: 2%;
}
